body {/*font-family: 'Josefin Sans', sans-serif*/;}
h1 {color: #802b00; font-size: 40pt; margin-bottom: 25pt}
h2 {color: #802b00; font-size: 19pt; margin-left: 150pt; margin-right: 150pt; margin-top: 5pt; margin-bottom: 15pt}
body {text-align: center; font-family: sans-serif; background-color: #ffccb3; margin-top: 5pt; margin-bottom: 15pt
	}
section {color: #4d4d4d; font-size: 13pt; line-height: 19pt}
.intro {margin-left: 200pt; margin-right: 200pt; margin-top: 20pt; margin-bottom: 20pt}
footer {font-size: 10; color: black}
.photos {background-color: #ffddcc; margin-top: 20pt; margin-bottom: 20pt}
.all {font-family: 'Josefin Sans', sans-serif}
.headings {color: black; text-align: center;font-weight: 300}
.headings2 {color: black; text-align: center;font-weight: 600}
.verse {font-weight: 400}
.outro {font-weight: 300}
